body{
    background-image: url(https://wallpaper.dog/large/20610401.jpg);
    background-attachment:fixed;
    background-size: cover;
}
header{
    color: #ac2929;
    text-shadow:#350000 2px 1px;
    text-align:center;
    font-family: Impact;
    font-size: 50px;
}
h1{
   color: #bebebe;
   text-align:center;
   font-family: Arial Narrow Bold;
   font-size: 30px;
}
h2{
    color:#fd7709;
    text-align: center;
    font-family: monospace;
    font-size:15px;
}
h3{
   color:#c4c3bb;
   text-align: center;
   font-family:monospace;
   font-size: 30px;
}
p1{
    color:#c4c3bb;
    text-align: justify;
    font-family:monospace;
    font-size: 20px; 
}
footer{
    color:#a7210f;
    text-align: center;
    font-family: monospace;
    font-size:20px;
}
h4{
    color:#dab6a6;
    text-align: center;
    font-family:monospace;
    font-size: 30px;
}
ul{
    color:#dab6a6;
    text-align: justify;
    font-family: monospace;
    font-size:20px;
}
p2{
    color:#dab6a6;
    text-align: center;
    font-family: monospace;
    font-size:20px;

}
h5{
    color:#adb7c5;
    text-align: center;
    font-family:monospace;
    font-size: 30px;
}
p3{
color:#adb7c5;
    text-align: center;
    font-family:monospace;
    font-size: 20px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.Sigma{
    text-align: center;
}
input{
    padding: 10px;
    width: 700px;
}
.giga{
    text-align: center;
    padding: px;
}
.name{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: monospace;
}
.birthday{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: monospace;
}
.address{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: monospace;
}
.number{
    margin: 5px 5px 5px 5px;
    text-align: center;
    font-family: monospace;
}
button{
    padding: 10px;
    background-color: #494343;
    color: #FFFFFF;
    font-family: monospace;
}
.more{
    text-align: center;
    margin-top: 15px;
}
img{
    border-style: solid;
    padding: 5px;
    color: #a19d9d;
    background-color: #1b1a1a;
}